<!--<h1>New Volunteer</h1>-->
 <br></br>
 <br></br>
 <div class = "container">
<h1>Volunteer</h1>
    <h4><strong>*NOTICE: For best results please make sure you are using Google Chrome*</strong></h4>
    <h4><strong>En español:*AVISO : Para obtener los mejores resultados por favor asegúrese de que está utilizando Google Chrome*</strong></h4>
</div>
<%= render 'form' %>


