<!--<h1>New Volunteer</h1>-->
<style>
    .edit {
        color: red;
        text-align: center;
    }
</style>
 <br>
 <br>
 <br>
 <div class = "container">
<h1>Volunteer</h1>
<h3 class = "edit">*Volunteer submissions have been closed*</h3>
<hr>
    <!--<h5><strong>*NOTICE: For best results please make sure you are using Google Chrome*</strong></h5>
    <h5><strong>En español:*AVISO : Para obtener los mejores resultados por favor asegúrese de que está utilizando Google Chrome*</strong></h5> -->
    <h5 style = "text-align: center">
        <strong>
            We appreciate your interest in volunteering! please fill out the fields below and we will get in contact with you. 
            For more information please view our contact information below!
        </strong>
    </h5>
<hr>
</div>
<%= render 'form' %>

<div class = "container">
    <hr>
    <div class = "col-sm-2"></div>
<div class = "col-sm-4">
    <h4>
        <strong>Project Coordinator:</strong>
     </h4>
     <h4>
        Jessica  
    </h4>
     <h4>
          <!--email_off-->
        Email: sample@email
         <!--/email_off-->
    </h4>
</div>
<div class = "col-sm-4">
    <h4>
        <strong>Recruiter Specialist:</strong> 
    </h4>
    <h4>
        Adam 
    </h4>
    <h4>
         <!--email_off-->
        Email: sample@email
         <!--/email_off-->
    </h4>
</div>
<div class = "col-sm-2"></div>
<hr>
</div>
<br>

