<br></br>
<br></br>
<br></br>
<br></br>

<div class = "container">
<p id="notice"><%= notice %></p>

<h1>Thank You For Your Interest! We Hope To See You Soon!</h1>
<%= link_to 'Return Home', root_path %>
</div>