<br>
<br>
<br>
        <!-- Page Heading -->
        <div class="row" style = "text-align:center">
                <h1>Mission statement</h1>
        </div>
    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>About this Event:</h2>
                <p> 
                Early prevention awareness and healthy lifestyle promotion is the key to reducing disease and illness. I Promise to Play Every Day will be a one day event
        that will bring kids outside for opportunities to learn about the importance of nutrition and daily exercise as well as a chance to win fun prizes that
        will keep them active.
                </p>
                <p>
                    Think Tank Student Organization of the Honors Program focuses on addressing issues in the community through sustainable changes. The issue being addressed
        with this service project is the high rate of obesity, specifically in the Denver Public School district. By raising awareness among the students and their
        parents, we hope to encourage physical activity and mindfulness of nutrition.
                </p>
                    <a class="btn btn-default btn-lg" href="https://promisetoplay.com/rsvps/new">RSVP NOW! &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Information</h2>
                <address>
                    <strong>Jessica Olivas</strong>
                    <br>Email: joliva12@msudenver.edu
                    <br>Cell: (720)5376354 
                    <br>
                </address>
                <hr>
                 <address>
                    <strong>Adam Lee</strong>
                    <br>Email: alee54@msudenver.edu
                    <br>Cell: (720)4801169 
                    <br>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center"><%= image_tag('activities.png') %>
                <h2>Activities</h2>
                <p>Come participate in fun activities and win prizes! We’re having an inflatable obstacle course, relay races, and dance parties with a real life DJ.</p>
                 <p>
        Volunteers will be present to facilitate the activities and keep the kids and families within the designated areas.
    </p>            
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center"><%= image_tag('nutrition.png') %>
                <h2>Nutrition</h2>
                <p> Learn about all of the delicious and nutritious foods & snacks out there together! and enjoy free snacks! 
        We’ll send you home with an informational brochure of all the nifty things you learn here at the event.
        </p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center"><%= image_tag('recruitment.png') %>
                <h2>Program Involvment</h2>
                <p> Meet great people from Denver that want to help you stay active. Learn about the programs and clubs in your community that you can join. Check out our
        Vendors tab!</p>
        
         <p>
        Potential and current organizations involved include: Think Tank Honors Student Organization, Center for Urban Education, Denver Parks and Recreation,
        Urban Leadership Program, MSU Denver’s Department of Human Performance &amp; Sport, Campus Recreation, and other faculty and staff from MSU Denver who are
        excited to contribute to this event.
    </p>
   
            </div>
        </div>
        <!-- /.row -->
</div>

<div class = "container">
    <hr>
    <div class = "col-sm-2"></div>
<div class = "col-sm-4">
    <h4>
        <strong>Project Coordinator:</strong>
     </h4>
     <h4>
        Jessica Olivas 
    </h4>
     <h4>
          <!--email_off-->
        Email: joliva12@msudenver.edu
         <!--/email_off-->
    </h4>
     <h4>
        Cell: (720)5376354 
    </h4>
</div>
<div class = "col-sm-4">
    <h4>
        <strong>Recruiter Specialist:</strong> 
    </h4>
    <h4>
        Adam Lee
    </h4>
    <h4>
         <!--email_off-->
        Email: alee54@msudenver.edu
         <!--/email_off-->
    </h4>
     <h4>
        Cell: (720)4801169 
    </h4>
</div>
<div class = "col-sm-2"></div>
<hr>
</div>
<br>

