<br>
<br>
<br>
<br>
<style>
    h1 {
        text-align: center;
    }
   
</style>

 <div class="container">
     
                <!-- Title -->
    <h1>I Promise To Play Everyday</h1>
    *NOTICE: For best results please make sure you are using the Google Chrome Browser*
    <hr>
        <!-- Preview Image -->
        <%#<%= image_tag('Kids logo.png') %> 

    <hr>

    <h3>
       <strong> Mission statement:</strong>
    </h3>
    <p>
        Early prevention awareness and healthy lifestyle promotion is the key to reducing disease and illness. I Promise to Play Every Day will be a one day event
        that will bring kids outside for opportunities to learn about the importance of nutrition and daily exercise as well as a chance to win fun prizes that
        will keep them active.
    </p>
    <p>
        Think Tank Student Organization of the Honors Program focuses on addressing issues in the community through sustainable changes. The issue being addressed
        with this service project is the high rate of obesity, specifically in the Denver Public School district. By raising awareness among the students and their
        parents, we hope to encourage physical activity and mindfulness of nutrition.
    </p>
    <hr>
    <h4>
        <strong>Activities:</strong>
    </h4>
    <p>
      Come participate in fun activities and win prizes! We’re having an inflatable obstacle course, relay races, and dance parties with a real life DJ.
    </p>
    <hr>
    <h4>
        <strong>Nutrition:</strong>
    </h4>
    <p>
        Let’s learn about all of the delicious and nutritious foods out there together! AND EAT FREE FOOD! 
        We’ll send you home with an informational brochure of all the nifty things you learn here at the event.
    </p>
    <hr>
    <h4>
        <strong>Recruitment:</strong>
    </h4>
    <p>
        Meet great people from Denver that want to help you stay active. Learn about the programs and clubs in your community that you can join. Check out our
        Vendors tab!
    </p>
    <p>
        Potential and current organizations involved include: Think Tank Honors Student Organization, Center for Urban Education, Denver Parks and Recreation,
        Urban Leadership Program, MSU Denver’s Department of Human Performance &amp; Sport, Campus Recreation, and other faculty and staff from MSU Denver who are
        excited to contribute to this event.
    </p>
    <p>
        Volunteers will be present to facilitate the activities and keep the kids and families within the designated areas.
    </p>
    <hr>
</div>

