<style>
     body {
        background-size: cover;
        background-position: center;
        }

    body,
    html {
        width: 100%;
        height: 100%;
        font-family: "Lato";
        color: white;
        background: url("https://photos-2.dropbox.com/t/2/AAABLETW9tggm8dH53bMLZrgCxNdi07CiptMaCCy6bEO0g/12/73594824/jpeg/32x32/1/_/1/2/Kids(final).jpg/EMCBjjkY5LEYIAcoBw/EVp7seows2cVvt3-WaNAhJocjkOhiHFfTE24upEihqQ?size=2048x1536&size_mode=3") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
    }
    
    h1 {
    	font-weight: 700;
    	font-size:5em;
    }
    
    
    .content{
    	padding-top: 25%;
    	text-align: center;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                     0px 8px 13px rgba(0,0,0,0.1),
                     0px 18px 23px rgba(0,0,0,0.1);
    }
    
    hr {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
    
    .jumbotron {
       background: rgb(200, 54, 54); /* This is for ie8 and below */
       background: rgba(0, 0, 0, 0.7); /*0.7 is the opacity*/
    }
    
    a:hover {
        background-color:transparent;
    }
    </style>
<div class="container">
 	<div class="row">
 		<div class="col-lg-12 col-md-12 col-sm-12">
 			<div class="content">
				<div class = "jumbotron">
 					<h1>I Promise To Play Everyday</h1></h1>
 					<h3>Date: Sunday June 5th, 2016</h3>
 					<h3>Time: 10:00 am - 3:00 pm</h3>
 					<h3>Location: Regency Athletic Complex</h3>
 					<h3>Address: 1390 Shoshone St, Denver, CO 80204</h3>
 					<hr>
 					<button class="btn btn-default btn-lg"><%= link_to 'RSVP', new_rsvp_path %></button>
 					<button class="btn btn-default btn-lg"><%= link_to 'Learn More', page_path('about') %></button>
 					<button class="btn btn-default btn-lg"><%= link_to 'Volunteer', new_volunteer_path %></button>
 				</div>
 			</div>
 		</div>
 	</div>
 </div>