<style>
</style>
<br></br>
<br></br>
<br></br>
<br></br>
    <div class = "row">
        <div class = "container" style = "text-align:center"> 
            <h1>Thank you for your submission!</h1>
            <h3>We Appreciate your participation</h3>
            <hr>
            <a href="https://promisetoplay.com/" class="btn btn-default btn-lg"><i class="fa fa-home"></i> <span class="network-name">Return Home</span></a>
        
        
        </div>
        <div class = "container">
    <hr>
    <div class = "col-sm-2"></div>
<div class = "col-sm-4">
    <h4>
        <strong>Project Coordinator:</strong>
     </h4>
     <h4>
        Jessica Olivas 
    </h4>
     <h4>
          <!--email_off-->
        Email: joliva12@msudenver.edu
         <!--/email_off-->
    </h4>
</div>
<div class = "col-sm-4">
    <h4>
        <strong>Recruiter Specialist:</strong> 
    </h4>
    <h4>
        Adam Lee
    </h4>
    <h4>
         <!--email_off-->
        Email: alee54@msudenver.edu
         <!--/email_off-->
    </h4>
</div>
<div class = "col-sm-2"></div>
<hr>
</div>
    </div>
    <div class = "container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>