<style>
    .edit {
        color: red;
    }
</style>
<br></br>
<br></br>
<br></br>
<br></br>
    <div class = "row">
        <div class = "container" style = "text-align:center"> 
            <h1 class = "edit">
                Volunteer submissions have been closed.
            </h1>
            <h3 class = "edit">
                We Appreciate your interest in volunteering, however we are no longer accepting submissions.<br>
                For more information please review the contact information below.
            </h3>
            <hr>
            <a href="https://promisetoplay.com/" class="btn btn-default btn-lg"><i class="fa fa-home"></i> <span class="network-name">Return Home</span></a>
        
        
        </div>
        <div class = "container">
    <hr>
    <div class = "col-sm-2"></div>
<div class = "col-sm-4">
    <h4>
        <strong>Project Coordinator:</strong>
     </h4>
     <h4>
        Jessica 
    </h4>
     <h4>
          <!--email_off-->
        Email: sample@email
         <!--/email_off-->
    </h4>
</div>
<div class = "col-sm-4">
    <h4>
        <strong>Recruiter Specialist:</strong> 
    </h4>
    <h4>
        Adam 
    </h4>
    <h4>
         <!--email_off-->
        Email: sample@email
         <!--/email_off-->
    </h4>
</div>
<div class = "col-sm-2"></div>
<hr>
</div>
    </div>
    <div class = "container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>