<!--<h1>New Rsvp</h1>-->
<br>
<br>
<br>
<div class = "container">
    <h1>RSVP</h1>
    <hr>
            <h5><strong>*NOTICE: For best results please make sure you are using Google Chrome*</strong></h5>
        <h5><strong>En español: *AVISO : Para obtener los mejores resultados por favor asegúrese de que está utilizando Google Chrome*</strong></h5>
    <hr>    
        <strong>Please download the event waiver form here and submit it to the volunteers at the check-in table at the event:</strong>
        <button class="btn btn-default btn-sm"><%= link_to "Event waiver form", asset_path("waiver.pdf") %></button><br>
        <br>
        <strong>En español:Por favor, descargue el formulario de renuncia evento aquí y enviarlo a los voluntarios en la mesa de registro de entrada en el evento:</strong>
        <button class="btn btn-default btn-sm"><%= link_to "Event waiver form(En español)", asset_path("waiver(spanish).pdf") %></button>
</div>
<%= render 'form' %>
<div class = "container">
    <hr>
    <div class = "col-sm-2"></div>
<div class = "col-sm-4">
    <h4>
        <strong>Project Coordinator:</strong>
     </h4>
     <h4>
        Jessica Olivas 
    </h4>
     <h4>
        Email: joliva12@msudenver.edu 
    </h4>
     <h4>
        Cell: (720)5376354 
    </h4>
</div>
<div class = "col-sm-4">
    <h4>
        <strong>Recruiter Specialist:</strong> 
    </h4>
    <h4>
        Adam Lee
    </h4>
    <h4>
        Email: alee54@msudenver.edu
    </h4>
     <h4>
        Cell: (720)4801169 
    </h4>
</div>
<div class = "col-sm-2"></div>
<hr>
</div>
<br>
