<!--<h1>New Rsvp</h1>-->


<%= render 'form' %>
<hr>
<div class = "container">

    <h3>
        <strong>Project Coordinator:</strong>
     </h3>
        <hr>
     <h4>
        Jessica Olivas 
    </h4>
     <h4>
        joliva12@msudenver.edu 
    </h4>
    <h3>
        <strong>Recruiter Specialist:</strong> 
    </h4>
        <hr>
    <h4>
        Adam Lee
    </h4>
    <h4>
        alee54@msudenver.edu
    </h4>
</div>

