<!--<h1>New Rsvp</h1>-->
<br>
<br>
<div class = "container">
    <h1>RSVP</h1>
        <h4><strong>*NOTICE: For best results please make sure you are using Google Chrome*</strong></h4>
        <h4><strong>*AVISO : Para obtener los mejores resultados por favor asegúrese de que está utilizando Google Chrome*</strong></h4>
        <strong>Please download the event waiver form here and submit it to your child(s) school or in person at the event:</strong>
        <button class="btn btn-default btn-sm"><%= link_to "Event waiver form", asset_path("promisetoplaywaiver.pdf") %></button><br>
        <strong>Por favor, descargue el formulario de renuncia evento aquí y enviarlo a su hijo ( s ) de la escuela o en persona en el evento:</strong>
        <button class="btn btn-default btn-sm"><%= link_to "Event waiver form", asset_path("promisetoplaywaiver.pdf") %></button>
</div>
<%= render 'form' %>
<hr>
<div class = "container">

    <h3>
        <strong>Project Coordinator:</strong>
     </h3>
        <hr>
     <h4>
        Jessica Olivas 
    </h4>
     <h4>
        joliva12@msudenver.edu 
    </h4>
    <h3>
        <strong>Recruiter Specialist:</strong> 
    </h4>
        <hr>
    <h4>
        Adam Lee
    </h4>
    <h4>
        alee54@msudenver.edu
    </h4>
</div>
<br>

